# ========================
# OS & Environment
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
*.pem

# ========================
# Node.js & Next.js (Frontend)
# ========================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output & Testing
.next/
out/
build/
coverage/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# ========================
# Python (Backend)
# ========================
# Byte-compiled / Optimized files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
env/
.env_python/

# ========================
# Project Specific (Data & Models)
# ========================
# Datasets (Avoid committing large files)
BI_Datasets/
*.csv
*.xlsx

# Generated ML Models and Backups
backend/data_management/backups/
frontend/.next/
extracted_images/
Data/

10B_DeCuong.docx
Báo cáo DACN_10B (2).docx
Chuong_3_Xay_Dung_Va_Thuc_Nghiem.docx
Muc_2_3_Thiet_Ke_He_Thong.docx
Muc_3_1_Backend_va_Mo_Hinh_AI.docx
Muc_3_2_Xay_Dung_Frontend_Dashboard.docx
export_db.py
retails_dataset_export.rar
BAOCAO_PHAN_KETLUAN.txt
HUONG_DAN_SU_DUNG_TEP.txt
